*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html, body, #root, .app{
    width: 100%;
    height: 100%;
}

body{
    padding: 10px;
    overflow: hidden;
}

/* #root{
    border: 1px solid red;
} */

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.query-pop{
    width: 460px;
    padding: 10px;
}
/* .query-pop .ant-row{
    margin-bottom: 20px !important;
} */

.query-pop .ant-col{
    line-height: 50px;
}

.query-select{
    width: 100%;
}
.col-textarea{
    padding-top: 5px;
}
/* .query-pop .col-textarea{
    height: 80px;
    margin-bottom: 10px;
} */
.col-query-btn{
    padding-top: 5px;
}



.main{
    width: 100%;
    height: calc(100% - 42px);
    /* border: 1px solid red; */
}
.table-wrap{
    width: 100%;
    height: 100%;
}

.edit-drawer-wrap, .edit-drawer-login, .edit-drawer-table{
    width: 100%;
    height: 100%;
}

.edit-drawer-table{
    overflow: auto;
}

.edit-drawer-control-wrap{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    font-size: 14px;
    /* border: 1px solid red; */
}

.edit-drawer-control-label{
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.edit-drawer-control{
    line-height: 36px;
}


